html,
body {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.428571429;
  color:#333;
}
/* Layouts */
.wrapper {
  min-height: 100%;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: " ";
}
.wrapper:after {
  clear: both;
}
/* Define 2 column template */
.right-side,
.left-side {
  height: 612px;
  width:750px;
  min-height: 100%;
  display: block;
  top: 50px;
}
/*right side - contins main content*/
.right-side {
  background-color: #f1f2f7;
  background-origin: content-box;
  margin-left: 248px;
  margin-top: 40px;
}
/*left side - contains sidebar*/
.left-side {
  position: absolute;
  width: 248px;
  
}
@media screen and (min-width: 980px) {
  /*Right side strech mode*/
  .right-side.strech {
    margin-left: 0;
  }
  .right-side.strech > .content-header {
    margin-top: 50px;
  }
  /* Left side collapse */
  .left-side.collapse-left {
    left: -240px;
  }
  .container{width:980px}
}
/*Give content full width on xs screens*/
@media screen and (max-width: 980px) {
  .right-side {
    margin-left: 0;
  }
}
.row{margin-left:-15px}
.row:before,.row:after{display:table;content:" "}
.row:after{clear:both}.row:before,.row:after{display:table;content:" "}
.row:after{clear:both}
.col-md-12{position:relative;padding-left:20px}


/* Content */
.content {
  width:775px;
  background: #fff;
  overflow: auto;
}

/* .text-center in tables */
.text-bold{
  font-weight: bold;

}

.table{
width:100%;
margin-bottom:20px;
border-collapse:collapse;
border-spacing:0;
}

.table.align th {
  text-align: left;
}
.table.align td {
  text-align: right;
}
.table thead tr th {
  text-align: left;
 background-color: #d83c3c;
 color: white;
 margin-bottom: 10px 
}
.table thead tr {
  border-bottom: 10px solid white;
  vertical-align: left;
}

.table tbody{
 margin-top :10px; 
 margin-bottom:  20px; 
 background-color: #b4b4b4;

}
.table thead th:first-child:before {
    content: "-";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    box-shadow: 0 1px 10px #000000;
    padding: .75em 0;
    background-color: #ccc;
    color: #ccc;
}

.table thead th {
    padding-bottom: 2em;
} 

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  padding: 0.65em;
   border-bottom : 1px solid #959595;
}

.table tbody tr:last-child:after {
  border-bottom: 20px solid #b4b4b4; 
 }

/*
    Components: navbar, logo and content header
-------------------------------------------------
*/
body > .header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
  content:""; 
  height:8px;
  background:-moz-linear-gradient(top, #EBE8E8 0%,#f1f2f7 50%,#fff 100%); 
  background:-webkit-linear-gradient(top, #EBE8E8 0%,#f1f2f7 50%,#fff 100%); 
  background:linear-gradient(top, #EBE8E8 0%,#f1f2f7 50%,#fff 100%);
  width:100%;
  display:block;
}
.right-side > .content-header {
  position: relative;
}

.breadcrumb {
  background-color: #fff;
}
.breadcrumb:after
{
  content:""; 
  height:8px;
  background:-moz-linear-gradient(top, #EBE8E8 0%,#f1f2f7 50%,#fff 100%); 
  background:-webkit-linear-gradient(top, #EBE8E8 0%,#f1f2f7 50%,#fff 100%); 
  background:linear-gradient(top, #EBE8E8 0%,#f1f2f7 50%,#fff 100%);
  width:100%;
  display:block;
}

.breadcrumb a {
  color: #13a0f8;
}
.breadcrumb span {
  color: #d83c3c;
}
.right-side > .content-header > .breadcrumb {
  float: right;
  background: transparent;
  font-size: 12px;
  position: absolute;
  right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/*
    Component: Sidebar
--------------------------
*/
.sidebar {
  margin-bottom: 5px;
  height: 612px;
  background-color: grey;
  width:245px;
}

.sidebar > div {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.sidebar .sidebar-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent!important;
  content: " ";
}

.sidebar .sidebar-form .input-group{
  position:relative;
  display:table;
  border-collapse:separate;
}

.sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu > li {
  margin-bottom: 2px;
  padding: 0;
  text-align: center;
  border-top:1px solid #a0a0a0;
}
.sidebar .sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar .sidebar-menu > li > a > .fa {
  width: 20px;
}
.input-group{position:relative;display:table;border-collapse:separate}
.input-group[class*="col-"]{float:none;padding-right:0;padding-left:0}
.input-group .form-control{width:100%;margin-bottom:0}
.input-group-btn,.input-group .form-control{
  display:table-cell;
}


/*
 * Off Canvas
 * --------------------------------------------------
 *  Gives us the push menu effect
 */
@media screen and (max-width: 980px) {
  .relative {
    position: relative;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -240px;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -240px;
  }
  .row-offcanvas-right.active {
    right: 240px;
  }
  .row-offcanvas-left.active {
    left: 240px;
  }
  .sidebar-offcanvas {
    left: 0;
  }
  body.fixed .sidebar-offcanvas {
    left: -240px;
  }
  body.fixed .row-offcanvas-left.active .navbar {
    left: 240px !important;
    right: 0;
  }
  body.fixed .row-offcanvas-left.active .sidebar-offcanvas {
    left: 0px;
  }
}
/*

/*
   All form elements including input, select, textarea etc.
-----------------------------------------------------------------
*/
.form-control {
  /*-webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;*/
  box-shadow: none;
   font-style: italic;
}
.form-control:focus {
  border-color: #3c8dbc !important;
  box-shadow: none;
}
.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a !important;
  box-shadow: none;
}
/* Input group */
.input-group .input-group-addon {
  border-radius: 0;
  background-color: red;
}
/*
    Component: Buttons
-------------------------
*/

/*

.btn {
    font-weight: 500;
}
.btn:focus { outline: none }
.btn.btn-file {
    position: relative;
    width: 56px;
    height: 20px;
    overflow: hidden;
}
    Skin Black
    --------
*/
/* skin-black navbar */
/* skin-black content header */
.skin-black .right-side > .content-header {
  background: #fff;
  box-shadow: none;
}
/* skin-black sidebar */
.skin-black .sidebar {
  border-bottom: 1px solid #39435C;
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #444;
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 0px solid #333;
}
.skin-black .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
  color: red  ;
  background: white;

}
.skin-black .left-side {

}
.skin-black .sidebar a {
  color: #eee;
}
.skin-black .sidebar a:hover {
  text-decoration: none;
}
.skin-black .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #555;
  padding: 5px 4px 5px 4px !important;
  border-bottom:   2px solid #a0a0a0 ;
}
.skin-black .sidebar-form input[type="text"]
 {
  box-shadow: none;
  height: 20px;
  width: 176px;
  outline: none;
}

.skin-black .sidebar-form .btn{
  color: white;
  height: 20px;
  width: 56px;
  background: #d83c3c;
  text-align: top;
  border-left: 0;
  border: 0;
  position: relative;
  font-size: 11px;
}


.skin-black .sidebar-form input[type="text"]:focus,
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  /*background-color: #444;*/
  border: 0;
}
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left: 0;
}

p.uppercase {
    text-transform: uppercase;
}

.arrow_box {
  position: relative;
  background: #d83c3c;

}
.arrow_box:after {
  right: 100%;
  top:50%;
  content: " ";
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(216, 60, 60, 0);
  border-right-color: #d83c3c;
  border-width: 5px;
  margin-top: -5px;
}
.float-right {
  float:right;
} 
.float-right a {
  color: #666666;
} 

.float-left{
  float: left;
}

.color-blue{
  color: #13a0f8;
  font-style: bold;

}
.color-white{
  color: white;
}

.panel{
  width:705px;
  background-color:#fff;
  border:1px solid transparent;
  border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
  box-shadow:0 1px 1px rgba(0,0,0,0.05)
}

.grad {
  height:70px;
  line-height: 2em;
  background: -webkit-linear-gradient(bottom ,rgba(240,243,244,0),rgba(240,243,244,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(240,243,244,0),rgba(240,243,244,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(240,243,244,0),rgba(240,243,244,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(240,243,244,0), rgba(255,255,255,1)); /*Standard*/
}


/* for divtable */
.panel.table{width:100%}

.blank_row{
    height: 10px !important; /* Overwrite any previous rules */
    background-color: #b4b4b4;
}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{
  line-height:1.428571429;vertical-align:top;border-top:1px solid #ddd
}
.table>thead>tr>th{
  vertical-align:bottom;border-bottom:2px solid #ddd
  }
.panel>.table-responsive{margin-bottom:0;border:0}
.panel-heading{border-bottom:1px solid transparent;border-top-right-radius:3px;border-top-left-radius:3px}
.panel .panel-heading>div{padding: 5px 0 5px 0}

